<!-- upload_data.html -->
{% load progress_bar %}
{% extends 'base.html' %}

{% block title %}Upload Data - My Website{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Upload Data</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'my_upload_view' %}">
            {% csrf_token %}
            {{ form }}
            {% progress_bar %}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
{% endblock %}
